body {
    font-family: Arial, sans-serif;
    padding: 20px;
}
button {
    margin: 5px 0;
}

.highlight {
  color: green;
  font-weight: bold;
}

#changebutton {
  color: blue
}

.item {
  color: red
}